header.header.site__header
  .container.header__container
    a(href='/').logo.logo--size-md.header__logo
      img(src="images/logo.svg" alt="Learning").logo__img
    nav.header__nav
      ul.header__nav-list
        li.header__nav-item
          a(href="#").header__nav-link Home
        li.header__nav-item
          a(href="#").header__nav-link Course
        li.header__nav-item
          a(href="#").header__nav-link Goods
        li.header__nav-item
          a(href="#").header__nav-link Blog
    .header__time 24:00:00
    a(href="#").btn.btn--size-xs.btn--theme-outline-black.header__btn-start
      span.btn__inner
        span.btn__title Start Learning