.header {
    padding: 20px 0;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        margin-right: 88px;
        flex-shrink: 0;
    }
    &__nav {
        margin-right: auto;
        &-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
        }
        &-item {
            margin: 0 24px 0 0;
            padding: 0;
        }
        &-link {
            @extend .area-click;
            display: block;
            transition: all .34s;
            &:hover {
                text-decoration: none;
                @media (min-width: $lg-mf) {
                }
            }
        }
    }
    &__time {
        margin-right: 24px;
        flex-shrink: 0;
    }
    &__btn-start {
        flex-shrink: 0;
    }
}