.section {
    padding: 40px 0;
    &--about {
        padding: 22px 0;
    }
    &--faq {
        padding: 28px 0 56px;
    }
    &__container {
    }
    &__header {
        max-width: 848px;
        margin: 0 auto;
        text-align: center;
    }
    &__suptitle {
        margin: 0 0 34px;
    }
    &__title {
        margin: 0 0 24px;
    }
    &__subtitle {
        margin: 0 0 56px;
    }
    &__card-list {
        margin-bottom: calc(-2 * var(--gap));
        &-col {
            margin-bottom: calc(2 * var(--gap));
        }
        &-item {
            height: 100%;
        }
        &-appeal {
        }
    }
    &__road-map {
        margin: 0 0 50px;
    }
    &__btn-start-learning {
        width: 100%;
        margin: 0 0 14px;
    }
    &__benefits {
        margin: 0 0 30px;
        display: flex;
        justify-content: center;
    }
    &__social {
        &-title {
            margin: 0 0 10px;
            display: flex;
            align-items: center;
            font-weight: 500;
            &:before,
            &:after {
                background: $color-gray-2;
                height: 1px;
                content: '';
                display: inline-block;
                flex-grow: 1;
            }
            span {
                padding: 0 16px;
                flex-shrink: 0;
            }
        }
        &-list {
        }
    }
    &__faq {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &-list {
            max-width: 54%;
            padding-right: 8px;
            flex: 0 0 54%;
        }
        &-ul {
            margin: -32px 0 0;
            padding: 0;
            list-style-type: none;
        }
        &-item {
            margin: 0;
            padding: 0;
            border-bottom: 1px solid rgba($color-gray-2, .88);
        }
        &-media {
            background: $color-gray-1;
            max-width: 496px;
            margin-left: 16px;
            flex: 0 0 45%;
            border-radius: 24px;
        }
        &-picture {
            margin: -28px -114px -36px -14px;
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}