.site {
    &__inner {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    &__appeal-subscribe {
    }
    &__header {
    }
    &__main {
        display: block;
        flex-grow: 1;
    }
    &__footer {
        margin-top: auto;
    }
}